body {
    font-family: 'Arial', sans-serif;
    margin: 20px 0; /* Add spacing between the header and sections */
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    margin-bottom: 20px; /* Add spacing below the header */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    margin: 40px 0; /* Increased margin for more spacing between sections */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.home-section {
    background-color: #3498db;
    color: #fff;
}

.about-section {
    background-color: #2ecc71;
    color: #fff;
}

.projects-section {
    background-color: #e74c3c;
    color: #fff;
}

.education-section {
    background-color: #f39c12;
    color: #fff;
}
